@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #0d192b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-family: 'Outfit', sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60vh;
  width: 90%;
  background-color: #14253d;
  border-radius: 15px;
  padding: 25px;
}

main .photo {
  height: 55%;
  text-align: center;
  cursor: pointer;
  position: relative;
  width: 100%;
}

main .photo::before {
  content: url("./images/icon-view.svg");
  width: auto;
  height: 20px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1221;
  opacity: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

main .photo::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 255, 247, 0.7);
  width: 100%;
  height: 100%;
  z-index: 999;
  border-radius: 15px;
  opacity: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

main .photo:hover::after, main .photo:hover::before {
  opacity: 1;
}

main .photo img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

main .cryptho {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .cryptho__name {
  color: white;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

main .cryptho__name:hover {
  cursor: pointer;
  color: #00fff7;
}

main .cryptho__info {
  font-size: 18px;
  color: #8bacda;
  font-weight: 100;
}

main .cryptho__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

main .cryptho__offer .price {
  color: #00fff7;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  margin-left: 16px;
}

main .cryptho__offer .price::before {
  content: url("./images/icon-ethereum.svg");
  position: absolute;
  height: 100%;
  width: 10px;
  left: -18px;
}

main .cryptho__offer .time-to-end {
  position: relative;
  font-size: 16px;
  color: #8bacda;
  font-weight: 300;
  line-height: 16px;
}

main .cryptho__offer .time-to-end::before {
  content: url("./images/icon-clock.svg");
  position: absolute;
  height: 100%;
  width: 10px;
  left: -16px;
}

main .cryptho::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #2f415b;
}

main .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  margin-top: 5px;
}

main .author__photo {
  height: 45px;
  width: auto;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 15px;
}

main .author__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .author__name {
  color: white;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

main .author__name:hover {
  cursor: pointer;
  color: #00fff7;
}

main .author__intro {
  color: #8bacda;
  font-weight: 300;
}

.attribution {
  display: none;
}

@media screen and (min-width: 390px) {
  main {
    width: 85%;
  }
}

@media screen and (min-width: 410px) {
  main {
    width: 83%;
  }
}

@media screen and (min-width: 520px) {
  main {
    width: 67%;
  }
}

@media screen and (min-width: 520px) {
  main {
    width: 60%;
  }
}

@media screen and (min-width: 620px) {
  main {
    width: 57%;
  }
}

@media screen and (min-width: 820px) {
  main {
    width: 40%;
  }
}

@media screen and (min-width: 1120px) {
  main {
    width: 30%;
  }
}

@media screen and (min-width: 1400px) {
  main {
    width: 24%;
    -webkit-box-shadow: 0px 25px 1px 20px #101a28;
            box-shadow: 0px 25px 1px 20px #101a28;
    position: relative;
  }
  main::after {
    content: '';
    width: 120%;
    height: 120%;
    background-color: rgba(10, 25, 59, 0.2);
    position: absolute;
    left: -10%;
    top: -5%;
    z-index: -3;
    border-radius: 15px;
  }
}

@media screen and (min-width: 1700px) {
  main {
    width: 18%;
    -webkit-box-shadow: 0px 25px 1px 20px #101a28;
            box-shadow: 0px 25px 1px 20px #101a28;
    position: relative;
  }
  main::after {
    content: '';
    width: 120%;
    height: 120%;
    background-color: rgba(10, 25, 59, 0.2);
    position: absolute;
    left: -10%;
    top: -5%;
    z-index: -3;
    border-radius: 15px;
  }
}
/*# sourceMappingURL=style.css.map */