@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Outfit', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 90%;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    padding: 25px;

    .photo{
        height: 55%;
        text-align: center;
        cursor: pointer;
        position: relative;
        width: 100%;

        &::before{
            content: url('./images/icon-view.svg');
            width: auto;
            height: 20px;
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%);
            z-index: 1221;
            opacity: 0;
            transition: all .3s linear;
        }
        
        &::after{
            content:'';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 255, 247,0.7);
            width: 100%;
            height: 100%;
            z-index:999;
            border-radius: 15px;
            opacity: 0;
            transition: all .3s linear;
        }

        &:hover::after,&:hover::before{
            opacity: 1;
        }

        
        img{
            display: block;
            height: 100%;
            width: 100%;
            border-radius: 15px;
        }
    }

    .cryptho{
        flex-basis: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &__name{
            color: white;
            transition: all .3s linear;
            &:hover{
                cursor: pointer;
                color:hsl(178, 100%, 50%);
                
            }
        }

        &__info{
            font-size: 18px;
            color:hsl(215, 51%, 70%);
            font-weight: 100;
        }

        &__offer{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            .price{
                color: hsl(178, 100%, 50%);
                position: relative;
                font-size: 16px;
                line-height: 16px;
                margin-left: 16px;
                
                
                &::before{
                    content: url('./images/icon-ethereum.svg');
                    position: absolute;
                    height: 100%;
                    width: 10px;
                    left: -18px;
                    
                    
                }
            }
            .time-to-end{
                position: relative;
                font-size: 16px;
                color:hsl(215, 51%, 70%);
                font-weight: 300;
                line-height: 16px;

                &::before{
                    content: url('./images/icon-clock.svg');
                    position: absolute;
                    height: 100%;
                    width: 10px;
                    left: -16px;
                }
            }
        }

        &::after{
            content: '';
            width: 100%;
            height: 2px;
            background-color: hsl(215, 32%, 27%);
        }
    }

    .author{
        display: flex;
        flex-grow: 1;
        width: 100%;
        margin-top: 5px;
        &__photo{
            height: 45px;
            width: auto;
            border: 2px solid white;
            border-radius: 50%;
            margin-right: 15px;

        }
        &__intro{
            display: flex;
            align-items: center;
        }

        &__name{
            color: white;
            transition: all .3s linear;
             &:hover{
                cursor: pointer;
                color:hsl(178, 100%, 50%);
                
            }
        }

        &__intro{
            color: hsl(215, 51%, 70%);
            font-weight: 300;
        }
    }
}


.attribution{
    display: none;
}




@media screen and (min-width: 390px){
    main{
        width: 85%;
    }
}

@media screen and (min-width: 410px){
    main{
        width: 83%;
    }
}

@media screen and (min-width: 520px){
    main{
        width: 67%;
    }
}

@media screen and (min-width: 520px){
    main{
        width: 60%;
    }
}

@media screen and (min-width: 620px){
    main{
        width: 57%;
    }
}

@media screen and (min-width: 820px){
    main{
        width: 40%;
    }
}

@media screen and (min-width: 1120px){
    main{
        width: 30%;
    }
}

@media screen and (min-width: 1400px){
    main{
        width: 24%;
        box-shadow: 0px 25px 1px 20px hsl(215, 43%, 11%);
        position: relative;

     &::after{
         content: '';
         width: 120%;
         height: 120%;
         background-color: rgba(10, 25, 59, 0.2);
         position: absolute;
         left: -10%;
         top: -5%;
         z-index: -3;
         border-radius: 15px;
     }        
    }


}
@media screen and (min-width: 1700px){
    main{
        width: 18%;
        box-shadow: 0px 25px 1px 20px hsl(215, 43%, 11%);
        position: relative;

     &::after{
         content: '';
         width: 120%;
         height: 120%;
         background-color: rgba(10, 25, 59, 0.2);
         position: absolute;
         left: -10%;
         top: -5%;
         z-index: -3;
         border-radius: 15px;
     }        
    }


}